# Practise

### Dataset for practise

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(123)

# Generate numerical columns with NaN values
num1 = np.random.randn(500)
num2 = np.random.uniform(10, 50, size=500)
num3 = np.random.randint(1, 6, size=500).astype('float')
num1[np.random.choice(500, 60, replace=False)] = np.nan
num2[np.random.choice(500, 60, replace=False)] = np.nan
num3[np.random.choice(500, 60, replace=False)] = np.nan

# Generate messy categorical/text columns
cat1 = np.random.choice(['apple', 'banana', 'grape', np.nan], size=500, p=[0.3, 0.3, 0.3, 0.1])
cat2 = np.random.choice(['A', 'B', 'C', 'D'], size=500)
cat3 = np.random.choice(['Yes', 'No', np.nan], size=500, p=[0.45, 0.45, 0.10])

# Combine into DataFrame and add untidiness
df_untidy = pd.DataFrame({
    'Score': num1,
    'Height_cm': num2,
    'Rating': num3,
    'Fruit': cat1,
    'Group': cat2,
    'IsActive': cat3
})

# Add untidy issues:
df_untidy.loc[df_untidy.sample(frac=0.15, random_state=1).index, 'Height_cm'] = \
    df_untidy['Height_cm'].dropna().astype(str) + 'cm'   # Mix data type in Height_cm

df_untidy.loc[df_untidy.sample(frac=0.15, random_state=2).index, 'Rating'] = \
    'Rating: ' + df_untidy['Rating'].dropna().astype(str) # Prefix string for some ratings

df_untidy.head()

- Q1. Identify columns with missing values and demonstrate at least two methods for imputing or filling these missing values (e.g., mean for numerics, mode for categoricals).

In [ ]:

import pandas as pd
import numpy as np
np.random.seed(123)
num1 = np.random.randn(500)
num2 = np.random.uniform(10, 50, size=500)
num3 = np.random.randint(1, 6, size=500).astype('float')
num1[np.random.choice(500, 60, replace=False)] = np.nan
num2[np.random.choice(500, 60, replace=False)] = np.nan
num3[np.random.choice(500, 60, replace=False)] = np.nan
cat1 = np.random.choice(['apple', 'banana', 'grape', np.nan], size=500, p=[0.3, 0.3, 0.3, 0.1])
cat2 = np.random.choice(['A', 'B', 'C', 'D'], size=500)
cat3 = np.random.choice(['Yes', 'No', np.nan], size=500, p=[0.45, 0.45, 0.10])
df_untidy = pd.DataFrame({
    'Score': num1,
    'Height_cm': num2,
    'Rating': num3,
    'Fruit': cat1,
    'Group': cat2,
    'IsActive': cat3
})

df_untidy.loc[df_untidy.sample(frac=0.15, random_state=1).index, 'Height_cm'] = \
    df_untidy['Height_cm'].dropna().astype(str) + 'cm'
df_untidy.loc[df_untidy.sample(frac=0.15, random_state=2).index, 'Rating'] = \
    'Rating: ' + df_untidy['Rating'].dropna().astype(str)
print("Missing values before imputation:\n", df_untidy.isnull().sum())
df_q1 = df_untidy.copy()
df_q1['Rating'] = pd.to_numeric(
    df_q1['Rating'].astype(str).str.replace("Rating: ", ""), errors='coerce'
)
df_q1['Height_cm'] = pd.to_numeric(
    df_q1['Height_cm'].astype(str).str.replace("cm", ""), errors='coerce'
)
df_q1['Score'].fillna(df_q1['Score'].mean(), inplace=True)
df_q1['Rating'].fillna(df_q1['Rating'].median(), inplace=True)
df_q1['Height_cm'].fillna(df_q1['Height_cm'].mean(), inplace=True)
df_q1['Fruit'].fillna(df_q1['Fruit'].mode()[0], inplace=True)
df_q1['IsActive'].fillna(df_q1['IsActive'].mode()[0], inplace=True)
print("\nMissing values after imputation:\n", df_q1.isnull().sum())
df_q1.head()

Missing values before imputation:
 Score        60
Height_cm    60
Rating       60
Fruit         0
Group         0
IsActive      0
dtype: int64

Missing values after imputation:
 Score        0
Height_cm    0
Rating       0
Fruit        0
Group        0
IsActive     0
dtype: int64

/tmp/ipython-input-1177567812.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['31.40565600060867cm' '23.723443878559706cm' '48.6944754257072cm'
 '47.7445897977863cm' '12.199264419087633cm' '28.255294989080216cm'
 '49.46319556401813cm' '24.62082473109778cm' '14.069842039264948cm'
 '30.047591231707173cm' '39.596908878071915cm' '47.903273405497885cm'
 '18.383678364591226cm' '20.573119172482315cm' '26.918929348570554cm'
 '49.60956000856316cm' '42.872544601068384cm' '47.28354972175643cm' nan
 nan '36.95711914375434cm' nan '25.124837252276944cm'
 '41.69467488795425cm' '28.67398840853555cm' '31.546329651552767cm'
 '14.629781437963878cm' '10.509502547356245cm' '18.213990989134608cm'
 '24.690622519316705cm' '23.881006122675878cm' '16.30134384410546cm' nan
 '29.66207244015815cm' nan '45.91010976816148cm' nan
 '31.599083317303908cm' '25.60501244185592cm' '43.06120649429532cm' nan
 '12.847775069640711cm' '12.664116985961948cm' '47.658679896221cm'
 '33.2449203552472cm' '39.08764020242252cm' '28.33330050691903cm'
 '22.962576174780793cm' '27.894375469792145cm' '32.038131009330215cm'
 '14.575393291450958cm' nan nan '11.712756967808463cm' nan
 '43.763098510017656cm' nan '30.811616852539903cm' '37.395658619063596cm'
 '28.1338454756111cm' '27.96849795184873cm' '10.60064593668383cm'
 '24.62269124743047cm' nan '35.59967475048515cm' '10.62981749252967cm'
 '29.56236762958236cm' '24.02157279243951cm' '20.724977212451382cm'
 '45.97566419756147cm' '39.53174948578872cm' '40.18091625619654cm'
 '31.792529976304664cm' '45.01839317252149cm' '38.4030089783188cm']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_untidy.loc[df_untidy.sample(frac=0.15, random_state=1).index, 'Height_cm'] = \
/tmp/ipython-input-1177567812.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['Rating: 3.0' 'Rating: 5.0' 'Rating: 2.0' 'Rating: 3.0' 'Rating: 1.0' nan
 'Rating: 5.0' 'Rating: 3.0' 'Rating: 2.0' 'Rating: 2.0' 'Rating: 4.0'
 'Rating: 3.0' 'Rating: 1.0' 'Rating: 3.0' nan 'Rating: 1.0' 'Rating: 1.0'
 'Rating: 2.0' 'Rating: 2.0' 'Rating: 4.0' 'Rating: 5.0' 'Rating: 4.0'
 'Rating: 4.0' 'Rating: 4.0' 'Rating: 3.0' 'Rating: 5.0' 'Rating: 2.0' nan
 'Rating: 3.0' 'Rating: 2.0' 'Rating: 3.0' 'Rating: 4.0' nan 'Rating: 4.0'
 'Rating: 1.0' 'Rating: 5.0' nan 'Rating: 3.0' 'Rating: 3.0' 'Rating: 3.0'
 'Rating: 4.0' 'Rating: 2.0' 'Rating: 1.0' 'Rating: 4.0' nan 'Rating: 5.0'
 'Rating: 4.0' 'Rating: 1.0' 'Rating: 4.0' 'Rating: 3.0' 'Rating: 2.0'
 'Rating: 5.0' 'Rating: 3.0' 'Rating: 3.0' 'Rating: 2.0' 'Rating: 3.0' nan
 'Rating: 1.0' 'Rating: 5.0' 'Rating: 2.0' 'Rating: 1.0' 'Rating: 2.0' nan
 'Rating: 4.0' 'Rating: 4.0' 'Rating: 1.0' 'Rating: 1.0' 'Rating: 4.0'
 'Rating: 3.0' 'Rating: 5.0' 'Rating: 1.0' nan nan nan 'Rating: 5.0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_untidy.loc[df_untidy.sample(frac=0.15, random_state=2).index, 'Rating'] = \
/tmp/ipython-input-1177567812.py:34: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_q1['Score'].fillna(df_q1['Score'].mean(), inplace=True)
/tmp/ipython-input-1177567812.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_q1['Rating'].fillna(df_q1['Rating'].median(), inplace=True)
/tmp/ipython-input-1177567812.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_q1['Height_cm'].fillna(df_q1['Height_cm'].mean(), inplace=True)
/tmp/ipython-input-1177567812.py:37: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_q1['Fruit'].fillna(df_q1['Fruit'].mode()[0], inplace=True)
/tmp/ipython-input-1177567812.py:38: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_q1['IsActive'].fillna(df_q1['IsActive'].mode()[0], inplace=True)

      Score  Height_cm  Rating   Fruit Group IsActive
0 -1.085631  29.620189     2.0  banana     D      Yes
1  0.997345  16.480034     5.0   apple     A       No
2  0.282978  49.244711     3.0  banana     B       No
3 -1.506295  29.620189     3.0   grape     D      nan
4 -0.578600  31.599083     3.0  banana     C       No

- Q2.  Identify columns with non-numeric (categorical) data and convert them into a numeric format using encoding techniques such as one-hot encoding or label encoding.

In [ ]:


import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
np.random.seed(123)

num1 = np.random.randn(500)
num2 = np.random.uniform(10, 50, size=500)
num3 = np.random.randint(1, 6, size=500).astype('float')
num1[np.random.choice(500, 60, replace=False)] = np.nan
num2[np.random.choice(500, 60, replace=False)] = np.nan
num3[np.random.choice(500, 60, replace=False)] = np.nan

cat1 = np.random.choice(['apple', 'banana', 'grape', np.nan], size=500, p=[0.3, 0.3, 0.3, 0.1])
cat2 = np.random.choice(['A', 'B', 'C', 'D'], size=500)
cat3 = np.random.choice(['Yes', 'No', np.nan], size=500, p=[0.45, 0.45, 0.10])

df_untidy = pd.DataFrame({
    'Score': num1,
    'Height_cm': num2,
    'Rating': num3,
    'Fruit': cat1,
    'Group': cat2,
    'IsActive': cat3
})
cat_cols = ['Fruit', 'Group', 'IsActive']
print("Categorical Columns:", cat_cols)
df_label = df_untidy.copy()
le = LabelEncoder()
for col in cat_cols:
    df_label[col] = df_label[col].astype(str)
    df_label[col] = le.fit_transform(df_label[col])
print("\nLabel Encoded DataFrame:\n", df_label.head())
df_onehot = pd.get_dummies(df_untidy, columns=cat_cols, drop_first=True)
print("\nOne-Hot Encoded DataFrame:\n", df_onehot.head())

Categorical Columns: ['Fruit', 'Group', 'IsActive']

Label Encoded DataFrame:
       Score  Height_cm  Rating  Fruit  Group  IsActive
0 -1.085631        NaN     2.0      1      3         1
1  0.997345  16.480034     5.0      0      0         0
2  0.282978  49.244711     NaN      1      1         0
3 -1.506295        NaN     3.0      2      3         2
4 -0.578600  31.599083     NaN      1      2         0

One-Hot Encoded DataFrame:
       Score  Height_cm  Rating  Fruit_banana  Fruit_grape  Fruit_nan  Group_B  \
0 -1.085631        NaN     2.0          True        False      False    False
1  0.997345  16.480034     5.0         False        False      False    False
2  0.282978  49.244711     NaN          True        False      False     True
3 -1.506295        NaN     3.0         False         True      False    False
4 -0.578600  31.599083     NaN          True        False      False    False

   Group_C  Group_D  IsActive_Yes  IsActive_nan
0    False     True          True         False
1    False    False         False         False
2    False    False         False         False
3    False     True         False          True
4     True    False         False         False

- Q3. Detect any columns in the DataFrame that contain mixed data types (such as numbers stored as strings or strings with prefixes). Write code to clean and convert these columns to appropriate, consistent types.

In [ ]:


import pandas as pd
import numpy as np

np.random.seed(123)

num1 = np.random.randn(500)
num2 = np.random.uniform(10, 50, size=500)
num3 = np.random.randint(1, 6, size=500).astype('float')
num1[np.random.choice(500, 60, replace=False)] = np.nan
num2[np.random.choice(500, 60, replace=False)] = np.nan
num3[np.random.choice(500, 60, replace=False)] = np.nan

cat1 = np.random.choice(['apple', 'banana', 'grape', np.nan], size=500, p=[0.3, 0.3, 0.3, 0.1])
cat2 = np.random.choice(['A', 'B', 'C', 'D'], size=500)
cat3 = np.random.choice(['Yes', 'No', np.nan], size=500, p=[0.45, 0.45, 0.10])

df_untidy = pd.DataFrame({
    'Score': num1,
    'Height_cm': num2,
    'Rating': num3,
    'Fruit': cat1,
    'Group': cat2,
    'IsActive': cat3
})
df_untidy.loc[df_untidy.sample(frac=0.15, random_state=1).index, 'Height_cm'] = \
    df_untidy['Height_cm'].dropna().astype(str) + 'cm'
df_untidy.loc[df_untidy.sample(frac=0.15, random_state=2).index, 'Rating'] = \
    'Rating: ' + df_untidy['Rating'].dropna().astype(str)
mixed_cols = []
for col in df_untidy.columns:
    types = df_untidy[col].dropna().map(type).nunique()
    if types > 1:
        mixed_cols.append(col)

print("Mixed-type columns detected:", mixed_cols)
df_clean = df_untidy.copy()
df_clean['Height_cm'] = pd.to_numeric(
    df_clean['Height_cm'].astype(str).str.replace("cm", ""), errors='coerce'
)
df_clean['Rating'] = pd.to_numeric(
    df_clean['Rating'].astype(str).str.replace("Rating: ", ""), errors='coerce'
)

print("\nData types after cleaning:\n", df_clean.dtypes)
print("\nCleaned DataFrame head:\n", df_clean.head())

Mixed-type columns detected: ['Height_cm', 'Rating']

Data types after cleaning:
 Score        float64
Height_cm    float64
Rating       float64
Fruit         object
Group         object
IsActive      object
dtype: object

Cleaned DataFrame head:
       Score  Height_cm  Rating   Fruit Group IsActive
0 -1.085631        NaN     2.0  banana     D      Yes
1  0.997345  16.480034     5.0   apple     A       No
2  0.282978  49.244711     NaN  banana     B       No
3 -1.506295        NaN     3.0   grape     D      nan
4 -0.578600  31.599083     NaN  banana     C       No

/tmp/ipython-input-2763936333.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['31.40565600060867cm' '23.723443878559706cm' '48.6944754257072cm'
 '47.7445897977863cm' '12.199264419087633cm' '28.255294989080216cm'
 '49.46319556401813cm' '24.62082473109778cm' '14.069842039264948cm'
 '30.047591231707173cm' '39.596908878071915cm' '47.903273405497885cm'
 '18.383678364591226cm' '20.573119172482315cm' '26.918929348570554cm'
 '49.60956000856316cm' '42.872544601068384cm' '47.28354972175643cm' nan
 nan '36.95711914375434cm' nan '25.124837252276944cm'
 '41.69467488795425cm' '28.67398840853555cm' '31.546329651552767cm'
 '14.629781437963878cm' '10.509502547356245cm' '18.213990989134608cm'
 '24.690622519316705cm' '23.881006122675878cm' '16.30134384410546cm' nan
 '29.66207244015815cm' nan '45.91010976816148cm' nan
 '31.599083317303908cm' '25.60501244185592cm' '43.06120649429532cm' nan
 '12.847775069640711cm' '12.664116985961948cm' '47.658679896221cm'
 '33.2449203552472cm' '39.08764020242252cm' '28.33330050691903cm'
 '22.962576174780793cm' '27.894375469792145cm' '32.038131009330215cm'
 '14.575393291450958cm' nan nan '11.712756967808463cm' nan
 '43.763098510017656cm' nan '30.811616852539903cm' '37.395658619063596cm'
 '28.1338454756111cm' '27.96849795184873cm' '10.60064593668383cm'
 '24.62269124743047cm' nan '35.59967475048515cm' '10.62981749252967cm'
 '29.56236762958236cm' '24.02157279243951cm' '20.724977212451382cm'
 '45.97566419756147cm' '39.53174948578872cm' '40.18091625619654cm'
 '31.792529976304664cm' '45.01839317252149cm' '38.4030089783188cm']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_untidy.loc[df_untidy.sample(frac=0.15, random_state=1).index, 'Height_cm'] = \
/tmp/ipython-input-2763936333.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['Rating: 3.0' 'Rating: 5.0' 'Rating: 2.0' 'Rating: 3.0' 'Rating: 1.0' nan
 'Rating: 5.0' 'Rating: 3.0' 'Rating: 2.0' 'Rating: 2.0' 'Rating: 4.0'
 'Rating: 3.0' 'Rating: 1.0' 'Rating: 3.0' nan 'Rating: 1.0' 'Rating: 1.0'
 'Rating: 2.0' 'Rating: 2.0' 'Rating: 4.0' 'Rating: 5.0' 'Rating: 4.0'
 'Rating: 4.0' 'Rating: 4.0' 'Rating: 3.0' 'Rating: 5.0' 'Rating: 2.0' nan
 'Rating: 3.0' 'Rating: 2.0' 'Rating: 3.0' 'Rating: 4.0' nan 'Rating: 4.0'
 'Rating: 1.0' 'Rating: 5.0' nan 'Rating: 3.0' 'Rating: 3.0' 'Rating: 3.0'
 'Rating: 4.0' 'Rating: 2.0' 'Rating: 1.0' 'Rating: 4.0' nan 'Rating: 5.0'
 'Rating: 4.0' 'Rating: 1.0' 'Rating: 4.0' 'Rating: 3.0' 'Rating: 2.0'
 'Rating: 5.0' 'Rating: 3.0' 'Rating: 3.0' 'Rating: 2.0' 'Rating: 3.0' nan
 'Rating: 1.0' 'Rating: 5.0' 'Rating: 2.0' 'Rating: 1.0' 'Rating: 2.0' nan
 'Rating: 4.0' 'Rating: 4.0' 'Rating: 1.0' 'Rating: 1.0' 'Rating: 4.0'
 'Rating: 3.0' 'Rating: 5.0' 'Rating: 1.0' nan nan nan 'Rating: 5.0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_untidy.loc[df_untidy.sample(frac=0.15, random_state=2).index, 'Rating'] = \

- Q4. Apply scaling and/or normalization techniques (such as Min-Max Scaling and Standardization) to the numerical columns to prepare them for downstream machine learning tasks.

In [ ]:


import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler


np.random.seed(123)

num1 = np.random.randn(500)
num2 = np.random.uniform(10, 50, size=500)
num3 = np.random.randint(1, 6, size=500).astype('float')

num1[np.random.choice(500, 60, replace=False)] = np.nan
num2[np.random.choice(500, 60, replace=False)] = np.nan
num3[np.random.choice(500, 60, replace=False)] = np.nan

cat1 = np.random.choice(['apple', 'banana', 'grape', np.nan], size=500, p=[0.3, 0.3, 0.3, 0.1])
cat2 = np.random.choice(['A', 'B', 'C', 'D'], size=500)
cat3 = np.random.choice(['Yes', 'No', np.nan], size=500, p=[0.45, 0.45, 0.10])

df = pd.DataFrame({
    'Score': num1,
    'Height_cm': num2,
    'Rating': num3,
    'Fruit': cat1,
    'Group': cat2,
    'IsActive': cat3
})

df.loc[df.sample(frac=0.15, random_state=1).index, 'Height_cm'] = df['Height_cm'].dropna().astype(str) + 'cm'
df.loc[df.sample(frac=0.15, random_state=2).index, 'Rating'] = 'Rating: ' + df['Rating'].dropna().astype(str)

df['Height_cm'] = pd.to_numeric(df['Height_cm'].astype(str).str.replace("cm", ""), errors='coerce')
df['Rating'] = pd.to_numeric(df['Rating'].astype(str).str.replace("Rating: ", ""), errors='coerce')
df['Score'].fillna(df['Score'].mean(), inplace=True)
df['Height_cm'].fillna(df['Height_cm'].mean(), inplace=True)
df['Rating'].fillna(df['Rating'].mean(), inplace=True)
num_cols = ['Score', 'Height_cm', 'Rating']
scaler_minmax = MinMaxScaler()
df_minmax = df.copy()
df_minmax[num_cols] = scaler_minmax.fit_transform(df[num_cols])
scaler_std = StandardScaler()
df_standard = df.copy()
df_standard[num_cols] = scaler_std.fit_transform(df[num_cols])
print("Original Numerical Data (first 5 rows):\n", df[num_cols].head())
print("\nAfter Min-Max Scaling:\n", df_minmax[num_cols].head())
print("\nAfter Standardization:\n", df_standard[num_cols].head())

Original Numerical Data (first 5 rows):
       Score  Height_cm    Rating
0 -1.085631  29.620189  2.000000
1  0.997345  16.480034  5.000000
2  0.282978  49.244711  3.022727
3 -1.506295  29.620189  3.000000
4 -0.578600  31.599083  3.022727

After Min-Max Scaling:
       Score  Height_cm    Rating
0  0.346613   0.491200  0.250000
1  0.683137   0.162150  1.000000
2  0.567725   0.982630  0.505682
3  0.278651   0.491200  0.500000
4  0.428529   0.540755  0.505682

After Standardization:
       Score     Height_cm    Rating
0 -1.145411  3.265462e-16 -0.785426
1  1.088461 -1.207772e+00  1.518490
2  0.322344  1.803780e+00  0.000000
3 -1.596549  3.265462e-16 -0.017454
4 -0.601650  1.818893e-01  0.000000

/tmp/ipython-input-1828734731.py:29: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['31.40565600060867cm' '23.723443878559706cm' '48.6944754257072cm'
 '47.7445897977863cm' '12.199264419087633cm' '28.255294989080216cm'
 '49.46319556401813cm' '24.62082473109778cm' '14.069842039264948cm'
 '30.047591231707173cm' '39.596908878071915cm' '47.903273405497885cm'
 '18.383678364591226cm' '20.573119172482315cm' '26.918929348570554cm'
 '49.60956000856316cm' '42.872544601068384cm' '47.28354972175643cm' nan
 nan '36.95711914375434cm' nan '25.124837252276944cm'
 '41.69467488795425cm' '28.67398840853555cm' '31.546329651552767cm'
 '14.629781437963878cm' '10.509502547356245cm' '18.213990989134608cm'
 '24.690622519316705cm' '23.881006122675878cm' '16.30134384410546cm' nan
 '29.66207244015815cm' nan '45.91010976816148cm' nan
 '31.599083317303908cm' '25.60501244185592cm' '43.06120649429532cm' nan
 '12.847775069640711cm' '12.664116985961948cm' '47.658679896221cm'
 '33.2449203552472cm' '39.08764020242252cm' '28.33330050691903cm'
 '22.962576174780793cm' '27.894375469792145cm' '32.038131009330215cm'
 '14.575393291450958cm' nan nan '11.712756967808463cm' nan
 '43.763098510017656cm' nan '30.811616852539903cm' '37.395658619063596cm'
 '28.1338454756111cm' '27.96849795184873cm' '10.60064593668383cm'
 '24.62269124743047cm' nan '35.59967475048515cm' '10.62981749252967cm'
 '29.56236762958236cm' '24.02157279243951cm' '20.724977212451382cm'
 '45.97566419756147cm' '39.53174948578872cm' '40.18091625619654cm'
 '31.792529976304664cm' '45.01839317252149cm' '38.4030089783188cm']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df.sample(frac=0.15, random_state=1).index, 'Height_cm'] = df['Height_cm'].dropna().astype(str) + 'cm'
/tmp/ipython-input-1828734731.py:30: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['Rating: 3.0' 'Rating: 5.0' 'Rating: 2.0' 'Rating: 3.0' 'Rating: 1.0' nan
 'Rating: 5.0' 'Rating: 3.0' 'Rating: 2.0' 'Rating: 2.0' 'Rating: 4.0'
 'Rating: 3.0' 'Rating: 1.0' 'Rating: 3.0' nan 'Rating: 1.0' 'Rating: 1.0'
 'Rating: 2.0' 'Rating: 2.0' 'Rating: 4.0' 'Rating: 5.0' 'Rating: 4.0'
 'Rating: 4.0' 'Rating: 4.0' 'Rating: 3.0' 'Rating: 5.0' 'Rating: 2.0' nan
 'Rating: 3.0' 'Rating: 2.0' 'Rating: 3.0' 'Rating: 4.0' nan 'Rating: 4.0'
 'Rating: 1.0' 'Rating: 5.0' nan 'Rating: 3.0' 'Rating: 3.0' 'Rating: 3.0'
 'Rating: 4.0' 'Rating: 2.0' 'Rating: 1.0' 'Rating: 4.0' nan 'Rating: 5.0'
 'Rating: 4.0' 'Rating: 1.0' 'Rating: 4.0' 'Rating: 3.0' 'Rating: 2.0'
 'Rating: 5.0' 'Rating: 3.0' 'Rating: 3.0' 'Rating: 2.0' 'Rating: 3.0' nan
 'Rating: 1.0' 'Rating: 5.0' 'Rating: 2.0' 'Rating: 1.0' 'Rating: 2.0' nan
 'Rating: 4.0' 'Rating: 4.0' 'Rating: 1.0' 'Rating: 1.0' 'Rating: 4.0'
 'Rating: 3.0' 'Rating: 5.0' 'Rating: 1.0' nan nan nan 'Rating: 5.0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df.sample(frac=0.15, random_state=2).index, 'Rating'] = 'Rating: ' + df['Rating'].dropna().astype(str)
/tmp/ipython-input-1828734731.py:34: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Score'].fillna(df['Score'].mean(), inplace=True)
/tmp/ipython-input-1828734731.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Height_cm'].fillna(df['Height_cm'].mean(), inplace=True)
/tmp/ipython-input-1828734731.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna(df['Rating'].mean(), inplace=True)

- Q5. Write a function to check for and report any remaining inconsistencies (missing values, mixed types, out-of-range values) in the cleaned DataFrame. Validate that the preprocessing steps have successfully prepared the data for analysis.

In [ ]:


import pandas as pd
import numpy as np

def check_inconsistencies(df):
    report = {}
    report['missing_values'] = df.isnull().sum().to_dict()
    mixed = {}
    for col in df.columns:
        types = df[col].dropna().map(type).nunique()
        if types > 1:
            mixed[col] = types
    report['mixed_types'] = mixed
    out_of_range = {}
    if 'Rating' in df.columns:
        out_of_range['Rating'] = df[(df['Rating'] < 1) | (df['Rating'] > 5)]['Rating'].tolist()
    if 'Height_cm' in df.columns:
        out_of_range['Height_cm'] = df[df['Height_cm'] <= 0]['Height_cm'].tolist()
    report['out_of_range'] = out_of_range

    return report
report = check_inconsistencies(df_clean)
print("Data Quality Report:\n", report)

Data Quality Report:
 {'missing_values': {'Score': 60, 'Height_cm': 60, 'Rating': 60, 'Fruit': 0, 'Group': 0, 'IsActive': 0}, 'mixed_types': {}, 'out_of_range': {'Rating': [], 'Height_cm': []}}